page {
  font-family: "Noto Sans SC", sans-serif;
}

// 尺寸
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
.max-w-full {
  max-width: 100%;
}

// 字体排版
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// 粗细
.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}

// 溢出省略
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #6b6e6d;
}

// 基础布局
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

// 方向 (Direction)
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
} // 对应 Tailwind 的 .flex-col
.flex-col-reverse {
  flex-direction: column-reverse;
}

// 换行 (Wrap)
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

// 伸缩性 (Grow / Shrink)
.flex-1 {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-none {
  flex: none;
}
.grow {
  flex-grow: 1;
}
.shrink {
  flex-shrink: 1;
}

// 主轴对齐 (Justify Content)
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

// 交叉轴对齐 (Align Items) - 单行
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

// 自身对齐 (Align Self) - 覆盖父级设置
.self-auto {
  align-self: auto;
}
.self-start {
  align-self: flex-start;
}
.self-end {
  align-self: flex-end;
}
.self-center {
  align-self: center;
}
.self-stretch {
  align-self: stretch;
}
